.scroll_fix {
  background: white;
}

.ui_rmenu_pr, #feed_filters, #nowIndicator, .counts_module, .left_icon, .ads_ad_box {
  display: none!important;
}

#top_nav, .top_home_link, .top_nav_link, .top_nav_btn {
  height: 41px;
}

.left_label {
  margin-left: 10px;
  padding-left: 10px;
}

.top_home_logo {
  background-image: url('https://vk.com/images/hatf.gif')!important;
  background-position: 0px 0px!important;
  width: 83%!important;
  height: 100%!important;
  margin-top: 0px!important;
}

.back {
  background: transparent!important;
  border: 0px!important;
}

.content {
  background-image: url('https://vk.com/images/hatf.gif');
  background-position: 0px -42px;
}

.content:before {
  content: "";
  background-image: url('https://vk.com/images/hatf.gif');
  background-position: 12px 0px;
  position: absolute;
  top: 0px;
  right: 3px;
  height: 41px;
  width: 12px;
}

.wall_wrap clear_fix, #main_feed .wall_module, ._im_page_dialogs, ._im_dialogs_search, ._im_chat_input_w, ._im_dialogs_creation, ._im_page_history, ._im_dialogs_settings {
  width: 795px!important;
}

._im_dialog_actions {
  width: 797px!important;
}

._im_dialogs_search {
  top: 101px!important;
}
